<configuration>

    <timestamp key="bySecond" datePattern="yyyy-MM-dd_HH-mm-ss"/>


    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}  %msg%n
            </pattern>
        </encoder>

    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>qlcplus-bridge-${bySecond}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>



    <logger name="de.plasmawolke" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>


    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>


</configuration>